* {
  margin: 0;
  box-sizing: border-box;
}

#main {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

h2.current {
  outline: 3px solid red;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  min-width: 400px;
  gap: 3px;
  user-select: none;
}

.grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  background-color: rgb(223, 223, 223);
  font-size: small;
  aspect-ratio: 1;
}
.grid-cell:hover {
  filter: brightness(0.9);
  cursor: pointer;
}
.grid-cell.miss {
  background-color: rgb(74, 74, 74);
}
.grid-cell.hit {
  background-color: rgb(255, 165, 165);
}
