* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --board-size: 10;
  --cell-border-size: 1px;
}

body {
  min-height: 100dvh;
  background-size: cover;
  background-image: url('./images/background.jpg');
}

main {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
  gap: 2rem;
}
.flex.col {
  flex-direction: column;
  align-items: center;
}

#status-message {
  font-size: x-large;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(var(--board-size), 1fr);
  min-width: 500px;
  border: 1px solid;
  user-select: none;
}

#player-1 .grid-container,
#player-1 .grid-cell {
  border-color: rgb(37, 58, 133, 0.6);
}
#player-1 .grid-cell > span::before,
#player-1 .grid-cell > span::after {
  border-color: rgb(37, 58, 133, 0.8);
}
#player-2 .grid-container,
#player-2 .grid-cell {
  border-color: rgba(248, 48, 48, 0.6);
}
#player-2 .grid-cell > span::before,
#player-2 .grid-cell > span::after {
  border-color: rgba(248, 48, 48, 0.8);
}

.grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: var(--cell-border-size) solid;
  background-color: rgba(255, 255, 255, 0.6);
  background-image: linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 33% 33%;
  /* font-size: small; */
  aspect-ratio: 1;
}

.grid-cell:hover {
  filter: brightness(0.9);
  cursor: pointer;
}
.grid-cell.ship {
  background-color: rgb(165, 165, 255);
}
.grid-cell.preview.valid {
  background-color: rgb(165, 255, 165);
}
.grid-cell.preview.invalid,
.grid-cell.hit {
  background-color: rgb(255, 165, 165);
}
.grid-cell.miss {
  background-color: rgb(74, 74, 74);
}

/* GRID CELL CROSS HAIRS */
.grid-cell span.crosshair::before,
.grid-cell span.crosshair::after {
  content: '';
  position: absolute;
  width: var(--length);
  height: var(--length);
  --thickness: 4px;
  --length: 16px;
  --long-offset: calc(var(--cell-border-size) + var(--length) / 2);
  --trans-offset: calc(var(--cell-border-size) + var(--thickness) / 2);
}
.grid-cell[data-col='0'] span::before,
.grid-cell span.top-right::before,
.grid-cell span.bot-right::before {
  width: calc(var(--length) / 2 + var(--thickness) / 2);
}
.grid-cell[data-row='0'] span::after,
.grid-cell span.bot-left::after,
.grid-cell span.bot-right::after {
  height: calc(var(--length) / 2 + var(--thickness) / 2);
}
/* HORIZONTAL CROSS HAIRS */
.grid-cell span.top-left::before,
.grid-cell span.top-right::before {
  top: calc(-1 * var(--trans-offset));
  border-top: var(--thickness) solid;
}
.grid-cell span.bot-left::before,
.grid-cell span.bot-right::before {
  bottom: calc(-1 * var(--trans-offset));
  border-bottom: var(--thickness) solid;
}
.grid-cell span.top-left::before,
.grid-cell span.bot-left::before {
  left: calc(-1 * var(--long-offset));
}
/* VERTICAL CROSS HAIRS */
.grid-cell span.top-left::after,
.grid-cell span.bot-left::after {
  left: calc(-1 * var(--trans-offset));
  border-left: var(--thickness) solid;
}
.grid-cell span.top-right::after,
.grid-cell span.bot-right::after {
  right: calc(-1 * var(--trans-offset));
  border-right: var(--thickness) solid;
}
.grid-cell span.top-left::after,
.grid-cell span.top-right::after {
  top: calc(-1 * var(--long-offset));
}
/* CORNER CROSS HAIRS */
.grid-cell[data-col='0'] span.top-left::before,
.grid-cell[data-col='0'] span.bot-left::before {
  left: calc(-1 * var(--cell-border-size) - var(--thickness) / 2);
}
.grid-cell[data-row='0'] span.top-left::after,
.grid-cell[data-row='0'] span.top-right::after {
  top: calc(-1 * var(--cell-border-size) - var(--thickness) / 2);
}
.grid-cell span.bot-left::after,
.grid-cell span.bot-right::after {
  bottom: calc(-1 * var(--cell-border-size) - var(--thickness) / 2);
}
.grid-cell span.top-right::before,
.grid-cell span.bot-right::before {
  right: calc(-1 * var(--cell-border-size) - var(--thickness) / 2);
}
