@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --board-size: 10;
  --cell-border-size: 1px;
  --clr-player1-primary: #094a81;
  --clr-player2-primary: #f9632e;
  --clr-banner: #fe7d17;
  --clr-hit: #e4959b;
  --clr-ship: #4697c4;
  --clr-miss: #c7c7c7;
}

body {
  min-height: 100dvh;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
  background-image: url('./images/background.jpg');
}

main {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
  gap: 2rem;
}
.flex.col {
  flex-direction: column;
  align-items: center;
}

#status-message {
  font-size: x-large;
  font-weight: bold;
}

.player-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: var(--clr-banner);
  color: white;
  margin-bottom: 2rem;
  height: 1.5em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(var(--board-size), 1fr);
  min-width: 500px;
  border: 1px solid;
  user-select: none;
  outline: 4px solid;
  outline-offset: 6px;
}

#player-1 .grid-container,
#player-1 .grid-cell {
  border-color: var(--clr-player1-primary);
  outline-color: var(--clr-player1-primary);
}

#player-2 .grid-container,
#player-2 .grid-cell {
  border-color: var(--clr-player2-primary);
  outline-color: var(--clr-player2-primary);
}

.grid-cell {
  position: relative;
  border: var(--cell-border-size) solid;
  background-color: rgba(255, 255, 255, 0.6);
  background-image: linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 33% 33%;
  aspect-ratio: 1;
}

.grid-cell:hover {
  filter: brightness(0.9);
  cursor: pointer;
}
.grid-cell.ship {
  background-color: color-mix(in srgb, var(--clr-ship) 80%, transparent);
}
.grid-cell.preview.valid {
  background-color: rgb(165, 255, 165);
}
.grid-cell.preview.invalid {
  background-color: color-mix(in srgb, var(--clr-hit) 80%, transparent);
}
.grid-cell.hit {
  background-color: color-mix(in srgb, var(--clr-hit) 80%, transparent);
  background-size: cover;
  background-image: url('./images/marker-hit.png');
}
.grid-cell.miss {
  background-color: color-mix(in srgb, var(--clr-miss) 80%, transparent);
  background-size: cover;
  background-image: url('./images/marker-miss.png');
}

/* GRID CELL CROSS HAIRS */
.grid-cell span.crosshair {
  content: '';
  position: absolute;
  width: var(--length);
  height: var(--length);
  --thickness: 4px;
  --length: 10px;
  --offset: calc(var(--thickness) / -2 - var(--cell-border-size));
  z-index: 1;
}
.grid-cell span.crosshair.top {
  border-top: var(--thickness) solid;
  top: var(--offset);
}
.grid-cell span.crosshair.bot {
  border-bottom: var(--thickness) solid;
  bottom: var(--offset);
}
.grid-cell span.crosshair.left {
  border-left: var(--thickness) solid;
  left: var(--offset);
}
.grid-cell span.crosshair.right {
  border-right: var(--thickness) solid;
  right: var(--offset);
}
#player-1 .grid-cell > span {
  border-color: var(--clr-player1-primary);
}
#player-2 .grid-cell > span {
  border-color: var(--clr-player2-primary);
}

.grid-and-ticks {
  position: relative;
}
.ticks .minor {
  width: 100%;
  height: 6px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 2px, transparent 2px);
  background-size: 2%;
}
.ticks .major {
  width: 100%;
  height: 3px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 2px, transparent 2px);
  background-size: 10%;
}
.ticks.left {
  position: absolute;
  width: 100%;
  transform-origin: top left;
  top: 0;
  left: 0;
  transform: rotate(90deg) scaleY(-1) translateY(-25px);
}
.ticks.right {
  position: absolute;
  width: 100%;
  transform-origin: top right;
  top: 0;
  left: 0;
  transform: rotate(-90deg) scaleY(-1) translateY(-25px);
}
.ticks.top {
  margin-bottom: 15px;
}
.ticks.bot {
  margin-top: 15px;
  transform: scaleY(-1);
}
